{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		<section class="blog_header">
			<div class="header_text_wrap">
				<div class="blog_title">
					<h1>Latest Mortgage Insight</h1>
					<div class="underline_center"></div>
				</div>
				<div class="header_text">
					<h2>Insight title goes right here.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a class="small_button" href="javascript:void(0)">Read Full Article</a>
				</div>
			</div>
			<div class="overlay_lite"></div>
		</section>
		<div class="category_bar_contain">
			<!--ToDo: Add horizontal, scrollable category section here-->
			<div class="category_wrap">
				<ul>
					<li class="active" id="cat_all">All Posts</li>
					<li id="cat_name2">Topic 1</li>
					<li id="cat_name3">Topic 2</li>
					<li id="cat_name4">Topic 3</li>
					<li id="cat_name5">Topic 4</li>
					<li id="cat_name6">Topic 5</li>
				</ul>
			</div>
		</div>
		<div class="filter_contain">
			<input type="search" placeholder="Search Articles" />
		</div>
		<section class="blog_grid_contain">
			<!--ToDo: Add a 3X blog post card grid based on exsisting bourbon columns that is the containers for the categories above-->
			<!--begin blog_item-->
			<div class="blog_item">
				<div class="top_img">
					<img src="http://lorempixel.com/400/200" />
				</div>
				<div class="item_text">
					<h3>Post Title</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="javascript:void(0)">Read Article</a>
				</div>
			</div><!--end blog_item-->
			<!--begin blog_item-->
			<div class="blog_item">
				<div class="top_img">
					<img src="http://lorempixel.com/400/200" />
				</div>
				<div class="item_text">
					<h3>Post Title</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="javascript:void(0)">Read Article</a>
				</div>
			</div><!--end blog_item-->
			<!--begin blog_item-->
			<div class="blog_item">
				<div class="top_img">
					<img src="http://lorempixel.com/400/200" />
				</div>
				<div class="item_text">
					<h3>Post Title</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="javascript:void(0)">Read Article</a>
				</div>
			</div><!--end blog_item-->
			<!--begin blog_item-->
			<div class="blog_item">
				<div class="top_img">
					<img src="http://lorempixel.com/400/200" />
				</div>
				<div class="item_text">
					<h3>Post Title</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="javascript:void(0)">Read Article</a>
				</div>
			</div><!--end blog_item-->
			<!--begin blog_item-->
			<div class="blog_item">
				<div class="top_img">
					<img src="http://lorempixel.com/400/200" />
				</div>
				<div class="item_text">
					<h3>Post Title</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="javascript:void(0)">Read Article</a>
				</div>
			</div><!--end blog_item-->
			<!--begin blog_item-->
			<div class="blog_item">
				<div class="top_img">
					<img src="http://lorempixel.com/400/200" />
				</div>
				<div class="item_text">
					<h3>Post Title</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="javascript:void(0)">Read Article</a>
				</div>
			</div><!--end blog_item-->
		</section>
    {% include 'partials/footer.html.twig' %}
	{% endblock %}

{% endembed %}
